.form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 12px;
}

.wrapper {
  display: flex;
  gap: 8px;

  font-family: "Roboto-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  user-select: none;
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.label {
  user-select: none;
}

.customInput {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;

  width: 112px;
  height: 96px;

  border: 1px solid var(--color-blackTransp02);
  border-radius: 10px;

  cursor: pointer;
  user-select: none;

  transition: border-color var(--transition);
}

.customInputSelected {
  border-color: var(--color-orange);
}

.caption {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--color-black);

  transition: color var(--transition);
}

.label:hover .caption,
.label:focus-within .caption {
  color: var(--color-orange);
}

.icon {
  width: 32px;
  height: 32px;

  transition: fill var(--transition);
}

.label:hover .icon,
.label:focus-within .icon {
  fill: var(--color-orange);
}
