.container {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: var(--color-lightGray);
  padding: 24px 0;
}

.section {
  width: 1352px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  gap: 450px;
}
