.container {
  width: 380px;
}

.allFiltersBox {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-height: calc(100vh - 279px);

  position: -webkit-sticky;
  position: sticky;
  top: 114px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 372px;

  overflow-y: auto;
}

.filters::-webkit-scrollbar {
  width: 4px;
}

.filters::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  border-radius: 7px;
}

.locationBox {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 360px;
}

.locationBox h3 {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-blackTransp06);
}

.filtersBox {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.equipmentBox {
  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 360px;
}

.equipmentBox h3 {
  font-weight: 500;
  color: var(--color-gray);
}

.filterBox {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 360px;
}

.filterTitle h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.vehicleBox {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 360px;
}

.filterTitle {
  height: 48px;
  border-bottom: 1px solid var(--color-filterLine);
}

.buttonsBox {
  display: flex;
  justify-content: space-between;

  width: 360px;
}
