.container {
  width: 631px;
  display: flex;
  flex-direction: column;
  gap: 44px;

  padding: 44px 52px;
  border-radius: 10px;
  background: var(--color-lightGray);
}

.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  height: 160px;
  align-content: flex-start;
  overflow-y: auto;
}

.featuresContainer::-webkit-scrollbar {
  width: 4px;
}

.featuresContainer::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  border-radius: 7px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 286px;
}

.title {
  border-bottom: 1px solid var(--color-blackTransp02);
}

.title h3 {
  height: 48px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
